.header {
    display: flex;
    justify-content: space-between;
    /* align-items 는 브라우저 화면의 높이를 기준으로 중앙에 위치하게 할수 있슴 */
    align-items: center;
    /* fixed 와의 차이는 fix는 공간을 덮어 버린다? , sticky는 다른 component와 상호작용해하지만 자리는 고수하는 느낌  */
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
}

.header__icon {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
}

.header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px; 
}

.header__center > input {
    border: none;
    padding: 10px;
    outline-width: 0;
    /* outline-width를 해줌으로써 인풋 박스의 모양이 나오는 것을 방지  */
    /* width: 250px; */
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}